/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-MercuryInRetrograde .header {
  color: white;               /* Header color. Default is white. */
}

.MMM-MercuryInRetrograde .title {
  color: cyan;               /* title color. Default is white. */
  text-align: center;
}

.MMM-MercuryInRetrograde .img {
  max-width: 50%;            /* size image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.MMM-MercuryInRetrograde .retro {
  color: yellow;               /* text color. Default is white. */
  text-align: center;
}

.MMM-MercuryInRetrograde .date {
  color: cyan;               /* date color. Default is white. */
  text-align: center;
	/* display: none; */
}
